[flake8]
# Игнорировать ошибки (примеры)
ignore = E203, W503, F401
# Исключить директории
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    build,
    dist
# Максимальная длина строки
max-line-length = 119
# Максимальная цикломатическая сложность
max-complexity = 20